@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .board{
        @apply bg-sky-700 w-64 h-20 text-white rounded-md flex items-start p-2 text-lg;
    }
    .card{
        @apply bg-gray-200 w-52 h-auto text-black rounded-md p-2 shadow-md text-nowrap flex flex-col gap-2 text-sm;
    }

}

